.signUpBox {
    margin: 20px auto;
    /* position: absolute; */
    /* left: 50%; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 24px;
    height: auto;
    border-style: solid;
    border-color: #4d94ff;
    width: 500px;
    text-align: center;
}

.signUpButton{
    margin: 5px;
}
