{% extends "BASE.html" %}
<!-- Title -->
{% block title %}Login page{% endblock %}
<!-- Head block -->
{% block head %}
  {{ super() }}
{% endblock %}
<!-- Error message block -->
{% block errorblock %}
<h2> {{errormsg}}</h2>
{% endblock %}
<!-- External scripts block -->
{% block script %}
<link rel="stylesheet" href="{{ url_for('static', filename='LGNSTYLE.css') }}">
{% endblock %}
<!-- Body block -->
{% block bodyblock %}
<div id="loginBox">
    <form action="/validateOTP" method="POST">
        <div class="loginFields">
            <p>OTP</p>
            <input type="text" name="otp">
        </div>
        <input type="submit" class="loginButtons" value="Next">
    </form>
    <a href="/sendOTP"><button class = "loginButtons" type="submit">resend OTP</button></a>
    <a href="/logout"><button class="signUpButton" type="submit">Back</button></a>
</div>
{% endblock %}
